/* font-family: "Segoe"; */
@font-face {
    font-family: "Segoe";
    src: url("fonts/SegoeUIRegular.eot");
    src: url("fonts/SegoeUIRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/SegoeUIRegular.woff") format("woff"),
    url("fonts/SegoeUIRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}