$s-active-arrow-left: 0px, 101px, 0px, -101px, 27px, 59px, 184px, 160px, 'sprite.png';
$s-active-arrow-right: 47px, 101px, -47px, -101px, 27px, 59px, 184px, 160px, 'sprite.png';
$s-arrow-left: 94px, 101px, -94px, -101px, 27px, 59px, 184px, 160px, 'sprite.png';
$s-arrow-right: 141px, 101px, -141px, -101px, 27px, 59px, 184px, 160px, 'sprite.png';
$s-logo: 0px, 0px, 0px, 0px, 184px, 81px, 184px, 160px, 'sprite.png';
